{% extends 'base.html' %}
{% block title %}
Politique de confidentialité
{% endblock title %}
{% block body %}
    <div class="max-w-3xl mx-auto px-4 py-8">

        <h1 class="text-4xl font-bold text-center text-blue-700 mb-5">Politique de Confidentialité</h1>
        <h2 class="text-xl font-bold text-center text-blue-500 mb-8"> Dernière mise a jour le 1er Juillet 2024</h2>

        <div class="bg-white rounded-lg shadow-md p-6 mb-6">

            <h2 class="text-2xl font-bold text-blue-700 mb-4">Introduction</h2>

            <p class="text-lg text-gray-700 leading-relaxed">
                Bienvenue sur notre site web de gestion des notes. La protection de votre vie privée est une priorité pour nous. Cette politique de confidentialité explique comment nous recueillons, utilisons, partageons et protégeons vos informations personnelles lorsque vous utilisez notre site. En accédant à notre site, vous acceptez les termes de cette politique de confidentialité.
            </p>

        </div>

        <div class="bg-white rounded-lg shadow-md p-6 mb-6">

            <h2 class="text-2xl font-bold text-blue-700 mb-4">Informations que Nous Collectons</h2>

            <p class="text-lg text-gray-700 leading-relaxed">
                Nous utilisons le service Massar pour collecter les informations indispensables à l'amélioration de l'interface utilisateur et de l'expérience utilisateur. Les informations collectées peuvent inclure, mais ne sont pas limitées à, des identifiants uniques, des informations de contact, des informations académiques, et d'autres données similaires. Ces données sont essentielles pour fournir les services que vous attendez et pour nous assurer que nous pouvons répondre à vos besoins spécifiques en matière de gestion des notes et de performance académique.
            </p>

        </div>

        <div class="bg-white rounded-lg shadow-md p-6 mb-6">

            <h2 class="text-2xl font-bold text-blue-700 mb-4">Utilisation des Informations</h2>

            <p class="text-lg text-gray-700 leading-relaxed">
                Les informations collectées peuvent être utilisées à diverses fins, y compris mais sans s'y limiter, à améliorer nos services, à personnaliser votre expérience utilisateur, à effectuer des analyses statistiques, à évaluer l'efficacité de nos communications, et à assurer la sécurité et le bon fonctionnement de notre site. Nous nous réservons également le droit d'utiliser ces informations pour des études internes visant à optimiser notre infrastructure technologique. Ces analyses internes sont cruciales pour garantir que nous fournissons une expérience utilisateur de haute qualité et que nous pouvons rapidement identifier et résoudre tout problème technique.
            </p>

        </div>

        <div class="bg-white rounded-lg shadow-md p-6 mb-6">

            <h2 class="text-2xl font-bold text-blue-700 mb-4">Partage des Informations</h2>

            <p class="text-lg text-gray-700 leading-relaxed">
                Nous n'acceptons pas de divulguer les informations collectées par nos services, puisque celles-ci sont issues de Massar. Cela vise à éviter des problèmes de fuite de données. Cependant, dans certaines situations spécifiques, telles que le respect des obligations légales ou la protection de nos droits, nous pourrions être amenés à partager ces informations avec des autorités compétentes ou des partenaires de confiance. Nous veillerons à ce que tout partage de données soit conforme aux lois et réglementations en vigueur et que vos informations personnelles soient protégées.
            </p>

        </div>

        <div class="bg-white rounded-lg shadow-md p-6 mb-6">

            <h2 class="text-2xl font-bold text-blue-700 mb-4">Stockage et Sécurité des Informations</h2>

            <p class="text-lg text-gray-700 leading-relaxed">
                Nous mettons en œuvre diverses mesures de sécurité techniques et organisationnelles pour protéger vos informations personnelles contre l'accès non autorisé, la divulgation, l'altération ou la destruction. Les techniques de stockage sont hautement sécurisées pour éviter une cyberattaque. Cela inclut, sans s'y limiter, l'utilisation de protocoles de chiffrement avancés, des systèmes de pare-feu sophistiqués, et des procédures strictes de contrôle d'accès. Cependant, il est important de noter qu'aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sécurisée. Nous faisons tout notre possible pour assurer la sécurité de vos données, mais nous ne pouvons garantir une sécurité absolue.
            </p>

        </div>

        <div class="bg-white rounded-lg shadow-md p-6 mb-6">

            <h2 class="text-2xl font-bold text-blue-700 mb-4">Vos Droits et Choix</h2>

            <p class="text-lg text-gray-700 leading-relaxed">
                Vous disposez de certains droits concernant vos informations personnelles, y compris le droit d'accès, de rectification et de suppression de vos données. Les informations personnelles seront conservées jusqu'à ce que l'utilisateur demande leur suppression. Toutefois, la demande de modification, suppression ou toute autre action liée au compte peut être demandée par contact et est susceptible d'être refusée pour des raisons évidentes. Nous nous réservons également le droit d'archiver le compte uniquement pour des raisons statistiques. Les données archivées seront maintenues dans un état sécurisé, permettant une utilisation ultérieure pour des analyses anonymes.
            </p>

        </div>

        <div class="bg-white rounded-lg shadow-md p-6 mb-6">

            <h2 class="text-2xl font-bold text-blue-700 mb-4">Cookies et Technologies Similaires</h2>

            <p class="text-lg text-gray-700 leading-relaxed">
                Nous utilisons des cookies et des technologies similaires pour collecter des informations sur l'utilisation de notre site et pour améliorer votre expérience utilisateur. Les cookies sont de petits fichiers texte placés sur votre appareil qui nous permettent de reconnaître votre navigateur et de capturer et mémoriser certaines informations. Vous avez la possibilité de désactiver les cookies via les paramètres de votre navigateur, mais cela peut affecter la fonctionnalité de notre site.
            </p>

        </div>

        <div class="bg-white rounded-lg shadow-md p-6 mb-6">

            <h2 class="text-2xl font-bold text-blue-700 mb-4">Modifications de cette Politique</h2>

            <p class="text-lg text-gray-700 leading-relaxed">
                Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment et sans notification préalable aux utilisateurs. Les modifications seront publiées sur cette page, et la date de la dernière mise à jour sera indiquée en haut de la page. Il est de votre responsabilité de consulter régulièrement cette politique pour prendre connaissance des modifications éventuelles. En continuant à utiliser notre site après que des modifications ont été apportées, vous acceptez ces modifications.
            </p>

        </div>

        <div class="bg-white rounded-lg shadow-md p-6 mb-6">

            <h2 class="text-2xl font-bold text-blue-700 mb-4">Nous Contacter</h2>

            <p class="text-lg text-gray-700 leading-relaxed">
                Le contact pour toute question ou préoccupation concernant cette politique de confidentialité se fait par email. Cependant, les demandes par email peuvent être ignorées. Nous nous réservons le droit de ne pas répondre à toutes les demandes, en fonction de la nature et de la pertinence de celles-ci. Veuillez noter que les réponses peuvent prendre un certain temps en fonction du volume des demandes reçues.
            </p>

        </div>

        <div class="bg-white rounded-lg shadow-md p-6 mb-6">

            <h2 class="text-2xl font-bold text-blue-700 mb-4">Conclusion</h2>

            <p class="text-lg text-gray-700 leading-relaxed">
                Nous prenons la protection de vos données personnelles très au sérieux et mettons tout en œuvre pour garantir leur sécurité. En utilisant notre site, vous acceptez les pratiques décrites dans cette politique de confidentialité. Nous nous engageons à traiter vos informations avec le plus grand soin et à respecter les lois et réglementations en vigueur en matière de protection des données. Si vous avez des questions ou des préoccupations concernant cette politique, n'hésitez pas à nous contacter.
            </p>

        </div>

    </div>

{% endblock body %}