{% extends 'base.html' %}
{% block title %}
Get started
{% endblock title %}
{% block body %}

<form method="POST" action="" class="max-w-md mx-auto">
    {% if messages %}
    <ul>
        {% for message in messages %}
        {% if message.tags == "error" %}
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <span class="font-bold">Erreur !</span> {{ message }}
            </div>
        {% elif message.tags == "success" %}
            <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
              <span class="font-bold">Succès !</span> {{ message }}
            </div>
        {% endif %}
        {% endfor %}
    </ul>
{% endif %}
    {% csrf_token %}
    <div class="mb-5">


        <label for="massarID" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Massar </label>
        <input id="massarID" type="text" name="massarID" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="A1234567890@taalim.com" required>
    </div>
    <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">password</label>
        <input id="password" type="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>

        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">login</button>

</form>
{% endblock body %}